@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Fira Sans", serif;
    background: #F5F5F5;
}
/* common css */
.container{    
    margin: 24px 160px 24px 160px;
}
.section-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
/* navbar design */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
    padding: 24px 160px 24px 160px;
    width: 1280;
}
.btn{
    padding: 15px 30px 15px 30px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);    
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;       
}
nav h1{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;    
}
/* header design */
.banner{
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;    
    background: rgb(198, 228, 214);
    padding: 70px 90px;
    border-radius: 24px;
}
.banner-content p{
    color: rgba(14, 14, 14, 0.5);    
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;    
    margin-bottom: 16px;
}
.banner-content h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 67px;
    margin-bottom: 24px;
    width: 410px;
}
.banner-btn{
    border-radius: 8px; 
    background: rgb(0, 106, 80);
    color: #fff;
    font-size: 18px;
}
.banner-img{
    width: 100%;
}
/* vision css design */
.vision p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 36px;
}